@inherits LayoutComponentBase
@inject NavigationManager Navigation

<MatAppBarContainer>
    <MatAppBar>
        <MatAppBarRow>
            <MatAppBarSection>
                <MatButton Raised="true" Icon="inventory" @onclick="GoToInventory">Inventario</MatButton>
                <MatButton Raised="true" Icon="account_circle" @onclick="GoToUsers">Usuarios</MatButton>
                <MatButton Raised="true" Icon="logout" @onclick="GoToLogin">Sesión</MatButton>
            </MatAppBarSection>
        </MatAppBarRow>
    </MatAppBar>
</MatAppBarContainer>

<div class="page-content">
    <CascadingValue Value="@loggedUser">
            @Body
    </CascadingValue>
</div>

@code {

    private LoggedUser loggedUser = new LoggedUser();

    private void GoToLogin()
    {
        loggedUser.LogoutUser();
        Navigation.NavigateTo("/login");
    }

    private void GoToUsers()
    {
        if (loggedUser.Id != 0)
        {
            Navigation.NavigateTo("/users");
        }
    }

    private void GoToInventory()
    {
        if (loggedUser.Id != 0)
        {
            Navigation.NavigateTo("/inventory");
        }
    }
}
